.button {
  display: flex;
  align-items: center;
  border: 0;
  padding: 1rem 2.5rem;
  font-family: $font-secondary;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  border-radius: 2.5rem;
  outline: none;
  
  svg {
    margin-right: 1rem;
  }
}

.button--primary {
  color: $cl-white;
  background: #F0834A;
  border-top: .1rem solid #f59563;
  border-bottom: .1rem solid #9a5c3c;
  box-shadow: 0 16px 16px 0 rgba(240,131,74,0.15), 0 8px 8px 0 rgba(240,131,74,0.15), 0 4px 4px 0 rgba(240,131,74,0.15), 0 2px 2px 0 rgba(240,131,74,0.15), 0 1px 1px 0 rgba(240,131,74,0.15);
  border-radius: 10rem;
  transition: box-shadow 200ms;
  
  &:hover,
  &:focus {
    cursor: pointer;
    box-shadow: 0 16px 36px 0 rgba(240,131,74,0.25), 0 8px 18px 0 rgba(240,131,74,0.25), 0 4px 14px 0 rgba(240,131,74,0.25), 0 2px 12px 0 rgba(240,131,74,0.25), 0 1px 11px 0 rgba(240,131,74,0.25);
  }

  &:active {
    border-top: .1rem solid #9a5c3c;
    box-shadow: 0 16px 26px 0 rgba(240,131,74,0.25), 0 8px 8px 0 rgba(240,131,74,0.25), 0 4px 4px 0 rgba(240,131,74,0.25), 0 2px 2px 0 rgba(240,131,74,0.25), 0 1px 1px 0 rgba(240,131,74,0.25);
  }
}

.button--secondary {
  color: $cl-white;
  background: #0076FF;
  box-shadow: 0 1.6rem 1.6rem 0 rgba(0,118,255,0.20), 0 .8rem .8rem 0 rgba(0,118,255,0.20), 0 .4rem .4rem 0 rgba(0,118,255,0.20), 0 .2rem .2rem 0 rgba(0,118,255,0.20), 0 .1rem .1rem 0 rgba(0,118,255,0.20);
}

.button--tertiary {
  color: $cl-tertiary;
  background-image: linear-gradient(9deg, #65FF9B 1%, #AEFFCA 100%);
  box-shadow: 0 16px 16px 0 rgba(51,248,120,0.20), 0 8px 8px 0 rgba(51,248,120,0.20), 0 4px 4px 0 rgba(51,248,120,0.20), 0 2px 2px 0 rgba(51,248,120,0.20), 0 1px 1px 0 rgba(51,248,120,0.20);
}

.button--big {
  padding: 1.5rem 4rem;
  // text-transform: uppercase;
}

.button--header {
  padding: 1.5rem 4rem;
  color: $cl-white;
  font-family: $font-secondary;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: none;
  background: #0086FF;
  border-radius: 10rem;
  box-shadow: 0 .2rem 1rem 0 rgba(black, .4);
}
