.button {
  display: flex;
  flex-shrink: 0;
  border: 0;
  padding: 1rem 2rem;
  color: $cl-white;
  font: {
    family: $font-body;
    size: 1.6rem;
    weight: 700;
  };
  letter-spacing: .1rem;
  border-radius: 5rem;
  outline: none;
  cursor: pointer;
  user-select: none;
  transition: {
    property: background-color, box-shadow;
    duration: 200ms;
  };
}

.button--primary {
  background-color: $cl-secondary;
  box-shadow: 0 .5rem 1rem 0 rgba($cl-black, .3);

  &:hover,
  &:focus {
    background-color: darken($cl-secondary, 12%);
  }

  &:active {
    background-color: darken($cl-secondary, 12%);
    box-shadow: 0 .1rem .3rem 0 rgba($cl-black, .9);
  }
}

.button--secondary {
  padding: 1.5rem 2.5rem;
  background-color: $cl-quaternary;
  box-shadow: 0 .5rem 1rem 0 rgba($cl-black, .3);

  &:hover,
  &:focus {
    background-color: darken($cl-quaternary, 12%);
  }

  &:active {
    background-color: darken($cl-quaternary, 12%);
    box-shadow: 0 .1rem .3rem 0 rgba($cl-black, .9);
  }
}

.button--tertiary {
  background-color: lighten($cl-body, 20%);
  box-shadow: 0 .5rem 1rem 0 rgba($cl-black, .3);

  &:hover,
  &:focus {
    background-color: lighten($cl-body, 8%);
  }

  &:active {
    background-color: lighten($cl-body, 8%);
    box-shadow: 0 .1rem .3rem 0 rgba($cl-black, .9);
  }
}

.button--option {
  display: inline-block;
  margin: 0 1em 1em 0;
  color: $cl-black;
  background-color: $cl-white;
  box-shadow: 0 .5rem 1rem 0 rgba($cl-black, .3);
  cursor: pointer;
  user-select: none;
  transition-property: color, background-color, box-shadow;
  transition-duration: 200ms;
}

.button--arrow-right,
.button--arrow-left {
  &::before,
  &::after {
    content: '';
    display: inline-block;
    width: .5em;
    height: 1.3em;
    background: {
      position: 50%;
      repeat: no-repeat;
    };
    vertical-align: top;
  }
}

.button--arrow-left {
  &::after {
    display: none;
  }

  &::before {
    order: 0;
    background-image: svg-uri('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#{$cl-white}" d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z"/></svg>');
    margin-right: 1ch;
  }
}

.button--arrow-right {
  &::after {
    margin-left: 1ch;
    background-image: svg-uri('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#{$cl-white}" d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"/></svg>');
  }

  &::before {
    display: none;
  }
}

.link-button {
  display: inline-block;
  appearance: none;
  background: transparent;
  padding: 0;
  border: 0;
  font-size: inherit;
  font-family: inherit;
  color: $cl-secondary;
  cursor: pointer;

  &:focus,
  &:hover {
    outline: none;
    text-decoration: underline;
  }
}
