.clients {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 0 5rem;
  padding: 0;
  list-style: none;

  @include media($screen-sm) {
    margin-bottom: 0;
  }
}

.client {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 1;
  width: 50%;
  margin: 1rem 0rem;
  padding: 0 1rem;
  transition: opacity 800ms cubic-bezier(.215, .61, .355, 1) 300ms;

  .section.is-active & {
    opacity: 1;
  }

  @include media($screen-sm) {
    width: auto;
    margin: 1rem 3rem;
  }

  @for $i from 1 through 6 {

    &:nth-child(#{$i}) {
      transition-delay: 150ms * $i;
    }
  }

  img {
    max-width: 100%;
  }

  .section.is-active {
    animation: fadeIn 500ms forwards;
  }
}
