.clients {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 0 5rem;
  padding: 0;
  list-style: none;

  @include media($screen-md) {
    margin-bottom: 0;
  }
}

.client {
  opacity: 0;
  margin: 1rem 3rem;
  transition: opacity 800ms cubic-bezier(0.215, 0.61, 0.355, 1) 300ms;

  .section.is-active & {
    opacity: 1;
  }

  @for $i from 1 through 6 {

    &:nth-child(#{$i}) {
      transition-delay: 150ms * $i;
    }
  }

  .section.is-active {
    animation: fadeIn 500ms forwards;
  }
}
