.clone {
  z-index: 9;
  position: fixed;
  box-shadow: none;
  opacity: .7;
  backface-visibility: hidden;
  pointer-events: none;
  transition: {
    property: transform;
    duration: 700ms;
    timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
  }

  .member {
    opacity: 1;
    transform: scale(1);
    transition-timing-function: cubic-bezier(0.850, -0.210, 0.640, 0.940);
    transition-duration: 700ms;
    transition-delay: 0ms;
  }
}
