.contact {
  opacity: 0;
  position: relative;
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  padding: 6rem 6rem 2rem;
  background-color: $cl-white;
  border-radius: .2rem;
  transform: scale(.5) translate3d(0, 100%, 0);

  .section.is-active & {
    animation: slideUp 1000ms both cubic-bezier(.215, .61, .355, 1);
  }

  &::after {
    content: '';
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 100rem);
    background-color: $cl-white;
    box-shadow: 0 0 .3rem .1rem rgba($cl-black, .3);

    .section.is-active & {
      animation: slideUpShadow 1000ms both cubic-bezier(.215, .61, .355, 1);
    }
  }

  > * {
    z-index: 2;
    position: relative;
  }
}

.contact__stamp {
  position: absolute;
  z-index: 3;

  .section.is-active & {
    animation-name: stamp;
    animation-duration: 300ms;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(.215, .61, .355, 1);
  }
}

.contact__stamp--1 {
  top: 5.5rem;
  right: 14rem;
  animation-delay: 900ms;
}

.contact__stamp--2 {
  top: 4rem;
  right: 3rem;
  animation-delay: 1300ms;
}

.contact__form {

}

.contact__row {
  line-height: 2em;
  max-width: 70rem;
}

.contact__row--options {
  margin-top: 2em;
}

.contact__row--footnote {
  margin-top: 6rem;
}

.contact__input {
  appearance: none;
  font-family: inherit;
  font-size: 2rem;
  padding: 0;
  border: none;
  color: $cl-primary;
  box-shadow: 0 .2rem 0 0 $cl-primary;
  outline: none;
  transition: box-shadow 200ms;

  &::placeholder {
    transition: opacity 200ms;
  }

  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }

  &:valid:not(:focus) {
    box-shadow: 0 .2rem 0 0 transparentize($cl-primary, 1);
  }

  &.is-shadow {
    position: absolute;
    top: -1000px;
    left: -1000px;
    display: inline;
    white-space: pre;
    visibility: hidden;
    opacity: 0;
  }
}

.option {
  display: none;

  &:checked + .button--option {
    background-color: $cl-primary;
    color: $cl-white;
    box-shadow: 0 .1rem .3rem 0 rgba($cl-black, .4);
  }
}

.request-sentence__main,
.request-sentence__extra {
  display: inline;
  color: $cl-primary;
  margin-right: .3em;

  &:empty {
    box-shadow: 0 -2px 0 $cl-primary inset;
    padding-right: 10rem;
  }
}

.request-sentence__extra {
  &:not(:empty) {
    margin-right: 0;
  }
}

.contact__budget-slider {
  appearance: none;
  display: block;
  width: 100%;
  font-size: 1rem;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: .4em;
    cursor: pointer;
    background: $cl-primary;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    height: 2.4em;
    width: 2.4em;
    border-radius: 50%;
    background: $cl-primary;
    cursor: pointer;
    transform: translateY(-1.1em);
  }

  &:hover::-webkit-slider-thumb {
    box-shadow: 0 0 5px $cl-primary;
  }
}

.contact__selection {
  .contact-form__step-content {
    align-items: center;
  }

  .button {
    font-size: 2rem;
  }

  .separator {
    color: lighten($cl-body, 30%);
    margin: 2.7rem 0 1rem;

    &::before,
    &::after {
      content: '';
      display: inline-block;
      width: 1em;
      height: .05em;
      margin: 1ch;
      background: lighten($cl-body, 30%);
      vertical-align: middle;
    }
  }

  p {
    max-width: 45rem;
    text-align: center;
  }

  a {
    font-family: house-script, sans-serif;
    color: $cl-primary;
    font-size: 5rem;
  }
}

.contact-form__step {
  position: relative;
  overflow: hidden;
  transition: {
    property: height, opacity, transform;
    duration: 500ms;
  };

  &.is-hidden {
    opacity: .5;
    transform: scale(.8);
  }

  &:not(.is-hidden) {
    + .contact-form__step {
      transform: scale(1);
    }
  }
}

.contact-form__step::after,
.contact-form__step-nav::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 6rem;
  background-image: linear-gradient(180deg, transparentize($cl-white, 1), $cl-white);
}

.contact-form__step-content {
  display: flex;
  flex-direction: column;
  max-width: 60rem;
  margin: 0 auto;
  padding: 6rem 0;
}

.contact-form__step-nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 62rem;
  height: 11rem;
  margin: 0 auto;
  overflow: hidden;
  transition: {
    property: height, opacity, transform;
    duration: 200ms;
    timing-function: linear;
  };

  .button {
    margin: 0 1rem;

    &.is-hidden {
      display: none;
    }
  }

  &.is-hidden {
    height: 0;
  }

  > * {
    flex-shrink: 0;
  }
}

.contact-form__question {
  max-width: 60rem;
  margin: 0 0 1em 0;
  text-align: left;
}

.contact-form__option {
  display: flex;
  align-items: center;
  margin-bottom: .5em;
  padding-left: 1.75ch;

  > * {
    cursor: pointer;
  }

  + .contact-form__question {
    margin-top: 2em;
  }
}
