.contact {
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: relative;
  width: 100%;
  max-width: 83rem;
  margin: 0 auto;
  background-color: $cl-white;
  transform: scale(.5) translate3d(0, 100%, 0);

  .section.is-active & {
    animation: slideUp 1000ms both cubic-bezier(.215, .61, .355, 1);
  }

  &::after {
    content: '';
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $cl-white;
    box-shadow: 0 0 .3rem .1rem rgba($cl-black, .3);

    .section.is-active & {
      animation: slideUpShadow 1000ms both cubic-bezier(.215, .61, .355, 1);
    }
  }

  > * {
    z-index: 2;
    position: relative;
  }

  @include media($screen-lg) {
    flex-direction: row;
  }
}

.contact__stamp {
  position: absolute;
  z-index: 3;
  opacity: 0;
  pointer-events: none;

  .contact[data-step='8'] & {
    animation-name: stamp;
    animation-duration: 300ms;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(.215, .61, .355, 1);
  }
}

.contact__stamp--1 {
  top: 5.5rem;
  right: 14rem;
  animation-delay: 900ms;
  display: none;

  @include media($screen-lg) {
    display: block;
  }
}

.contact__stamp--2 {
  top: 4rem;
  right: 3rem;
  animation-delay: 1300ms;
  display: none;

  @include media($screen-lg) {
    display: block;
  }
}

.contact__form {

}

.contact__row {
  line-height: 2em;
  max-width: 70rem;
}

.contact__row--options {
  margin-top: 2em;
}

.contact__row--footnote {
  margin-top: 6rem;
}

.contact__input {
  appearance: none;
  font-family: inherit;
  font-size: 2rem;
  padding: 0;
  border: none;
  color: $cl-primary;
  box-shadow: 0 .2rem 0 0 $cl-primary;
  outline: none;
  transition: box-shadow 200ms;

  &::placeholder {
    transition: opacity 200ms;
  }

  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }

  &:valid:not(:focus) {
    box-shadow: 0 .2rem 0 0 transparentize($cl-primary, 1);
  }

  &.is-shadow {
    position: absolute;
    top: -1000px;
    left: -1000px;
    display: inline;
    white-space: pre;
    visibility: hidden;
    opacity: 0;
  }
}

.option {
  display: none;

  &:checked + .button--option {
    background-color: $cl-primary;
    color: $cl-white;
    box-shadow: 0 .1rem .3rem 0 rgba($cl-black, .4);
  }
}

.request-sentence__main,
.request-sentence__extra {
  display: inline;
  color: $cl-primary;
  margin-right: .3em;

  &:empty {
    box-shadow: 0 -2px 0 $cl-primary inset;
    padding-right: 10rem;
  }
}

.request-sentence__extra {
  &:not(:empty) {
    margin-right: 0;
  }
}

.contact__budget-slider {
  appearance: none;
  display: block;
  width: 100%;
  font-size: 1rem;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: .4em;
    cursor: pointer;
    background: $cl-primary;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    height: 2.4em;
    width: 2.4em;
    border-radius: 50%;
    background: $cl-primary;
    cursor: pointer;
    transform: translateY(-1.1em);
  }

  &:hover::-webkit-slider-thumb {
    box-shadow: 0 0 5px $cl-primary;
  }
}

.contact__selection {
  &.is-hidden {
    margin: 0;
  }

  .contact-form__step-content {
    align-items: center;
    padding: 0;
    max-width: 100%;

    @include media($screen-lg) {
      padding-top: 6rem;
    }
  }

  .contact-form__step-title {
    margin: 3rem 2rem 0;

    @include media($screen-sm) {
      margin-top: 6rem;
      text-align: center;
    }

    @include media($screen-lg) {
      margin-top: 0;
    }
  }

  p {
    margin: 1rem 2rem;

    @include media($screen-sm) {
      margin: 2rem auto;
      max-width: 39rem;
      text-align: center;
    }
  }
}

.contact-form__step-title {
  margin: 0 0 1rem;
  max-width: calc(100% - 4rem);

  @include media($screen-sm) {
    margin: 0 0 2rem;
    max-width: 100%;
  }
}

.contact-form__step-end-title {
  text-align: center;
  font-family: $font-primary;
  font-size: 5rem;

  + p {
    margin-top: 0;
    text-align: center;
  }
}

.contact-form {
  width: 100%;
  padding-bottom: 4.4rem;
  transition: padding 200ms;

  [data-step='0'] &,
  [data-step='8'] & {
    padding: 0;
  }

  @include media($screen-lg) {
    padding-bottom: 6.4rem;
  }
}

.contact-form__step {
  position: relative;
  overflow: hidden;
  transition: {
    property: height, opacity, transform, margin;
    duration: 500ms;
  };

  &.is-hidden {
    opacity: .5;
    transform: scale(.8);
  }

  &:not(.is-hidden) {
    + .contact-form__step {
      transform: scale(1);
    }
  }

  .submit-button {
    margin: 2rem auto 0 0;
  }
}

.contact-form__step::after,
.contact-form__step-nav::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2rem;
  background-image: linear-gradient(180deg, transparentize($cl-white, 1), $cl-white);

  @include media($screen-lg) {
    height: 6rem;
  }
}

.contact-form__step-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 3rem 2rem 5rem;
  color: darken($cl-primary, 30%);

  @include media($screen-lg) {
    padding: 9rem 6rem 6rem;
    max-width: 57rem;
  }
}

.contact-form__step-wrapper {
  width: 100%;

  @include media($screen-sm) {
    width: calc(100% - 12rem);
  }
}

.contact-form__step-nav {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 4.4rem;
  padding: 0 2rem;
  overflow: hidden;
  transition: {
    property: height, opacity, transform;
    duration: 200ms;
    timing-function: linear;
  };

  &::after {
    height: 2rem;

    @include media($screen-lg) {
      height: 4rem;
    }
  }

  &.is-hidden {
    height: 0;
  }

  .prev-step-button {
    margin-top: 0;
    color: $cl-primary;
    order: 1;
  }

  .next-step-button {
    margin-top: 0;
    margin-left: auto;
    order: 2;
  }

  .is-hidden {
    display: none;
  }

  > * {
    flex-shrink: 0;
  }

  @include media($screen-lg) {
    height: 6.4rem;
    padding: 0 6rem;
  }
}

.contact-form__question {
  max-width: 60rem;
  margin: 0 0 1rem 0;
  text-align: left;
  font-weight: 700;
}

.contact-form__question--optional {
  &::after {
    content: ' (optional)';
    color: $cl-quinary;
    font-size: .8em;
  }
}

.contact-form__option {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: .5em;
  transition: opacity 300ms, visibility 300ms;

  &.is-invalid {
    &::after {
      content: 'This answer is required.';
      margin: .25em 0 0;
      width: 100%;
      flex-shrink: 0;
      color: $cl-negative;
      font-size: .9em;
    }
  }

  &.is-invalid--email {
    &::after {
      content: 'Double check your email please.'
    }
  }

  > * {
    cursor: pointer;
  }

  + .contact-form__question {
    margin-top: 1em;
  }

  &[data-disabled] {
    opacity: 0;
    visibility: hidden;
  }
}

.contact-form__dependent {
  opacity: 1;
  visibility: visible;
}

.contact__steps-overview {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2.5rem;
  padding-right: 3.25rem;
  background-color: $cl-primary;
  color: $cl-white;
  white-space: nowrap;
  overflow: hidden;
  transition: {
    property: width, height, padding;
    duration: 400ms;
  };

  [data-step='0'] &,
  [data-step='8'] & {
    height: 0;
    padding: 0 2.5rem;

    @include media($screen-lg) {
      height: auto;
      width: 0;
      padding: 6rem 0;
    }
  }

  @include media($screen-lg) {
    justify-content: flex-start ;
    flex-direction: column;
    width: 26rem;
    flex-shrink: 0;
    padding: 6rem 4rem;
    background-color: $cl-primary;
    color: $cl-white;
    white-space: nowrap;
    overflow: hidden;
  }
}

.overview-step {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 1rem;
  cursor: pointer;

  &[disabled] {
    pointer-events: none;
    cursor: default;
  }

  &::before {
    content: '';
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin: 0;
    background: darken($cl-primary, 30%);

    @include media($screen-lg) {
      top: .35rem;
      width: 1.2rem;
      height: 1.2rem;
    }
  }

  &:not(:last-child) {
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: .4rem;
      left: .5rem;
      width: 100%;
      height: .25rem;
      background: darken($cl-primary, 30%);

      @include media($screen-lg) {
        top: .4rem;
        left: .5rem;
        width: .2rem;
        height: 100%;
        margin: .5rem 1ch 0 0;
      }
    }
  }

  &:not([disabled]) {
    &::before {
      background-color: $cl-white;
    }

    &.is-finished {
      &::after {
        background-color: $cl-white;
      }
    }
  }

  &:last-child {
    width: 1rem;

    @include media($screen-lg) {
      width: auto;
    }
  }

  @include media($screen-lg) {
    display: block;
    height: auto;
    padding-left: 3rem;
    padding-bottom: 3rem;
  }
}

.overview-step__title {
  display: none;
  margin: 0 0 .5em;
  color: $cl-white;
  font-size: 2rem;

  [disabled] & {
    color: $cl-quinary;
  }

  @include media($screen-lg) {
    display: block;
  }
}

.overview-step__content {
  display: none;
  overflow: hidden;
  margin: 0;
  color: transparentize($cl-white, .4);
  font-size: 1.8rem;
  line-height: 1.5;
  white-space: pre;
  text-overflow: ellipsis;

  @include media($screen-lg) {
    display: block;
  }
}

.team-overview {
  width: 100%;
  margin: 0 auto 1rem;
  overflow: hidden;

  @include media($screen-lg) {
    margin: 0 auto 5rem;
  }
}

.team-overview__members {
  margin: 3rem 0 0;
  min-height: 7rem;

  &:empty {

    &::before {
      content: 'Insert team members here';
      display: flex;
      align-items: center;
      justify-content: center;
      height: 6rem;
      border: .1rem dashed lighten($cl-body, 30%);
      margin: 0 2rem;
      border-radius: 1.33em * .33;
      color: lighten($cl-body, 30%);
      animation: pulse 200ms;

      @include media($screen-sm) {
        margin: 0 1rem;
      }

      @include media($screen-md) {
        margin: 0;
      }
    }
  }

  .cart-item {
    @include media($screen-lg) {
      width: 50%;
      float: left;
    }
  }
}

.team-overview__title {

  a {
    color: $cl-primary;
    text-decoration: underline;
  }
}

.overview-member {
  max-height: 4em;
  transition: {
    property: transform, opacity, max-height, padding;
    timing-function: linear;
    duration: 200ms;
  };

  &.is-removed {
    transform: scale(.8);
    max-height: 0;
    opacity: 0;
  }

  &--placeholder {
    max-height: 6em;
  }
}

.overview-member__content {
  display: flex;
  align-items: center;
  width: calc(100% - $cart-margin * 2);
  margin: 0 0 $cart-margin;
  padding: $cart-margin;
  border-radius: 1.33em * .33;
  overflow: hidden;
  box-shadow:
    0 3px 2px -2px transparentize($cl-body, .7),
    0 3px 8px -2px transparentize($cl-body, .7);


  &--placeholder {
    flex-direction: column;
    box-shadow: none;
    text-align: center;

    &::before {
      content: '';
      display: block;
      width: 2em;
      height: 2em;
      margin-bottom: .5em;
      background: {
        image: svg-uri('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#{$cl-body}" d="M15 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm-9-2V7H4v3H1v2h3v3h2v-3h3v-2H6zm9 4c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/></svg>');
        size: contain;
      }
    }
  }

  > * {
    flex-shrink: 0;
  }
}

.overview-member__image {
  width: 2em;
  height: 2em;
  margin-right: 1ch;
  border-radius: 50%;
  background-size: cover;
}

.overview-member__title {
  font-size: 1em;
  line-height: 1;
  color: $cl-body;
}

.overview-member__remove {
  width: 1.5em;
  height: 1.5em;
  margin-left: auto;
  background: {
    image: svg-uri('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#{$cl-body}" d="M7 11v2h10v-2H7zm5-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg>');
    size: 1.33em;
    repeat: no-repeat;
    position: 50%;
  };
  cursor: pointer;
}

.mobile-overview {

  + p {
    @include media($screen-lg) {
      margin-top: 0;
      margin-bottom: 4rem;
    }
  }

  @include media($screen-lg) {
    display: none;
  }

  .overview-step {
    display: block;
    width: 100%;
    height: auto;
    padding: 0 0 2rem;
    pointer-events: all;

    &:last-child {
      padding-bottom: 1rem;
    }

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }
  .overview-step__title {
    display: block;
    color: $cl-body;
    font-size: 1.8rem;

    &::after {
      content: '';
      display: inline-block;
      width: 1.8rem;
      height: 1.8rem;
      margin-left: .5ch;
      background-image: svg-uri('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill="#{$cl-body}" d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04a1 1 0 0 0 0-1.41l-2.34-2.34a1 1 0 0 0-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/></svg>');
      background-size: contain;
      vertical-align: middle;
    }
  }

  .overview-step__content {
    display: block;
    color: $cl-body;
    font-size: 1.6rem;
  }
}

.mobile-overview__content {
  padding-top: 1rem;
}

.team-overview-end {

  .team-overview__title {
    display: none;
  }

  .team-overview {
    margin: 0;

    .cart-item {
      @include media($screen-lg) {
        width: 100%;
        float: left;
      }
    }
  }

  .team-overview__members {
    margin: 0;

    &::before {
      margin: 0;
    }
  }
}
