@keyframes slideUp {
  0% {
    opacity: 0;
    transform: scale(.5) translate3d(0, 100%, 0);
  } 50% {
    opacity: 1;
    transform: scale(.5) translate3d(0, 0, 0)
  } 100% {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0)
  }
}

@keyframes slideUpShadow {
  0% {
    box-shadow: 0 0 .3rem .1rem rgba($cl-black, .3);
  } 50% {
    box-shadow: 0 0 .3rem .1rem rgba($cl-black, .3);
  } 100% {
    box-shadow: 0 -1rem 4rem 0 rgba($cl-black, .15);
  }
}

.contact {
  position: relative;
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  padding: 10rem 6rem 7rem;
  background-color: $cl-white;
  border-radius: .2rem;
  animation: slideUp 1000ms both cubic-bezier(0.215, 0.61, 0.355, 1);

  &:after {
    content: '';
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 100rem);
    background-color: $cl-white;
    box-shadow: 0 -1rem 4rem 0 rgba($cl-black, .15);
    animation: slideUpShadow 1000ms both cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  > * {
    z-index: 2;
    position: relative;
  }
}

@keyframes stamp {
  from {
    opacity: 0;
    transform: scale(5);
  } to {
    opacity: 1;
    transform: scale(1);
  }
}

.contact__stamp {
  position: absolute;
  animation: stamp 300ms both cubic-bezier(0.215, 0.61, 0.355, 1);
}

.contact__stamp--1 {
  top: 5.5rem;
  right: 14rem;
  animation-delay: 900ms;
}

.contact__stamp--2 {
  top: 4rem;
  right: 3rem;
  animation-delay: 1300ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

.contact__form {
  // animation: fadeIn 500ms both 1600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.contact__row {
  margin-bottom: 2rem;
}

.contact__row--footnote {
  margin-top: 6rem;
}

.contact__input {
  font-size: 2rem;
  border: none;
  box-shadow: 0 .2rem 0 0 $cl-primary;
  outline: none;
}

.option {
  display: none;

  &:checked + .button--option {
    background-color: $cl-primary;
    color: $cl-white;
    box-shadow: 0 .1rem .3rem 0 rgba($cl-black, .4);
  }
}

.request-sentence {
  font-size: 2rem;
  line-height: 1.4;
}

.request-sentence__main,
.request-sentence__extra {
  display: inline;
  color: $cl-primary;
  margin-right: .3em;

  &:empty {
    box-shadow: 0 -2px 0 $cl-primary inset;
    padding-right: 10rem;
  }
}
