.footer--primary {
  overflow: hidden;
  width: 100%;
  padding: 3rem 0;
  color: $cl-white;
  font-size: 1.2rem;
  background-color: $cl-tertiary;
}

.footer__container {
  display: flex;
  align-items: center;
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 3rem;
}

.footer__logo {
  margin-right: auto;

  img {
    vertical-align: middle;
  }
}
