.header--primary {
  z-index: 10;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  margin-top: 3rem;
  width: 100%;
  height: 9rem;
  font-size: 1.6rem;
  padding: 2rem 0;

  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(168deg, #4735E2 40%, #3D3398 100%);
    opacity: 0;
    transition: {
      property: opacity;
      duration: 300ms;
    }
  }

  &[data-is-sticky='true'] {
    &::before {
      opacity: 1;
    }
  }
}

.header__container {
  display: flex;
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 3rem;
}

.header__logo {
  display: flex;
  align-content: center;
  margin-right: 7rem;
}
