.header--primary {
  z-index: 10;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  width: 100%;
  font-size: 1.6rem;

  @include media($screen-sm) {
    margin-top: 3rem;
    padding: 1rem 0;
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
  }

  @include media($screen-md) {
    height: 6rem;
  }

  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $cl-primary;
    box-shadow: 0 0.2rem 2rem 0 rgba(0, 0, 0, .2);
    opacity: 0;
    transition: {
      property: opacity;
      duration: 300ms;
    }
  }

  &[data-is-sticky='true'] {

    &::before {
      opacity: .95;
    }
  }

  .social {
    display: none;

    @include media($screen-md) {
      display: flex;
      animation: fadeIn 800ms both 1000ms cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }

  .button {
    display: none;

    @include media($screen-md) {
      display: flex;
      animation: fadeIn 800ms both 1200ms cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }
}

.header__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $container-max-width;

  @include media($screen-sm) {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 3rem;
  }

  @include media($screen-md) {
    flex-wrap: nowrap;
  }
}

.header__logo {
  display: none;

  @include media($screen-sm) {
    display: flex;
    align-content: center;
    margin: 0 2rem 0 0;
    animation: fadeIn 800ms both 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  @include media($screen-lg) {
    margin: 0 7rem 0 0;
  }
}
