.members {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.member {
  position: relative;
  overflow: hidden;
  margin: 0 1.5rem;
  padding: 3em 3em 9em;
  font-size: 1rem;
  background: $cl-white;
  box-shadow: 0 2rem 3.5rem 0 rgba($cl-black, .12);
  border-radius: .8rem;
  transition: transform 300ms;

  &:nth-child(1),
  &:nth-child(5) {
    font-size: .57143rem; // 16px

    &:hover {
      z-index: 2;
      transform: scale(1.7196);
    }
  }

  &:nth-child(2),
  &:nth-child(4) {
    font-size: .75rem;

    &:hover {
      z-index: 2;
      transform: scale(1.34299);
    }
  }
}

.member__name {
  color: $cl-primary;
  font: {
    size: 2.8em;
    weight: 900;
  };
  margin-bottom: 1em;
}

.member__description {
  font-size: 1.6em;
}

.member__anchor {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  padding: 1.9em;
  font-size: 1.6em;
  color: $cl-secondary;
  box-shadow: 0 0 0 0 $cl-secondary inset;
  transition: {
    property: color, box-shadow;
    duration: 300ms;
  }

  &:hover {
    color: $cl-white;
    box-shadow: 0 -10em 0 0 $cl-secondary inset;
  }
}
