.members {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  max-width: 100%;
  margin: 0;
  padding: 6rem 0 10rem 0;
  list-style: none;
}

.member {
  position: relative;
  overflow: hidden;
  flex-grow: 0;
  flex-shrink: 0;
  width: 33.6rem;
  margin: 0 1.5rem;
  padding: 7em 3em 9em;
  font-size: 1rem;
  background: $cl-white;
  box-shadow: 0 2rem 3.5rem 0 rgba($cl-black, .12);
  border-radius: .8rem;
  outline: none;
  transition: transform 300ms;

  &:nth-child(1),
  &:nth-child(5) {
    width: 19rem;
    font-size: .57143rem; // 16px

    &:hover,
    &:focus,
    &:focus-within {
      z-index: 2;
      transform: scale(1.7196);
    }
  }

  &:nth-child(2),
  &:nth-child(4) {
    width: 25.5rem;
    font-size: .75rem;

    &:hover,
    &:focus,
    &:focus-within {
      z-index: 2;
      transform: scale(1.34299);
    }
  }
}

.member__avatar {
  position: absolute;
  top: 0;
  right: 0;

  img {
    width: 22.1em;
    height: auto;
  }
}

.member__name {
  color: $cl-primary;
  font: {
    size: 2.8em;
    weight: 900;
  };
  margin-bottom: 1em;
}

.member__description {
  padding-right: 2em;
  font-size: 1.6em;
  line-height: 1.43;
}

.member__anchor {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  padding: 1.9em;
  font-size: 1.6em;
  color: $cl-secondary;
  box-shadow: 0 0 0 0 $cl-secondary inset;
  outline: none;
  transition: {
    property: color, box-shadow;
    duration: 300ms;
  }

  &:hover,
  &:focus,
  &:focus-within {
    color: $cl-white;
    box-shadow: 0 -5em 0 0 $cl-secondary inset;
  }
}
