.members {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  max-width: 100%;
  margin: 0;
  padding: 6rem 0 10rem 0;
  list-style: none;
}

.member {
  position: relative;
  overflow: hidden;
  flex-grow: 0;
  flex-shrink: 0;
  width: 33.6rem;
  margin: 0 1.5rem;
  padding: 7em 3em 9em;
  font-size: 1rem;
  list-style: none;
  background: $cl-white;
  box-shadow: 0 2rem 3.5rem 0 rgba($cl-black, .12);
  border-radius: .8rem;
  outline: none;
  cursor: pointer;
  user-select: none;
  transition: transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);

  .members & {
    &:nth-child(1),
    &:nth-child(5) {
      width: 19rem;
      font-size: .57143rem; // 16px
      transition-duration: 500ms;

      &:hover,
      &:focus,
      &:focus-within {
        z-index: 2;
        transform: scale(1.7196);
      }
    }

    &:nth-child(2),
    &:nth-child(4) {
      width: 25.5rem;
      font-size: .75rem;

      &:hover,
      &:focus,
      &:focus-within {
        z-index: 2;
        transform: scale(1.34299);
      }
    }
  }

  &::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border: .2em solid $cl-primary;
    border-radius: .8rem;
    opacity: 0;
    transition: opacity 200ms;
    pointer-events: none;
  }

  &.is-selected {
    &::after {
      opacity: 1;
    }
  }
}

.member__avatar {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;

  &:before {
    content: '';
    opacity: 0;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    background: url('images/add-to-team.svg') no-repeat calc(100% - 2em) 2em/12em;
    transition: opacity 300ms;
  }

  &:after {
    content: '';
    opacity: 0;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    mask-image: url('images/avatar-mask.svg');
    mask-repeat: space;
    mask-size: contain;
    mask-position: right top;
    background: rgba($cl-tertiary, .8);
    transition: opacity 300ms;
  }

  .member:hover &:before,
  .member:hover &:after {
    opacity: 1;
  }

  .member.is-selected & {

    &:before {
      opacity: 1;
      background: url('images/selected-member.svg') no-repeat calc(100% - 2em) 2em/13em;
    }

    &:after {
      opacity: 1;
      background: rgba($cl-primary, .8);
    }
  }

  img {
    float: right;
    width: 80%;
    height: auto;
    mask-image: url('images/avatar-mask.svg');
    mask-repeat: space;
    mask-size: contain;
    mask-position: right top;
  }
}

.member__name {
  color: $cl-primary;
  font: {
    size: 2.8em;
    weight: 900;
  };
  margin-bottom: 1em;
}

.member__description {
  padding-right: 2em;
  color: $cl-quinary;
  font: {
    size: 1.6em;
    weight: 300;
  };
  line-height: 1.43;
}

.member__anchor {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  padding: 1.9em;
  font-size: 1.6em;
  color: $cl-secondary;
  box-shadow: 0 0 0 0 $cl-secondary inset;
  outline: none;
  mix-blend-mode: multiply;
  background-clip: text;
  transition: {
    property: color, box-shadow;
    duration: 400ms;
    timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  &:hover,
  &:focus,
  &:focus-within {
    color: $cl-white;
    box-shadow: 0 -5em 0 0 $cl-secondary inset;

    svg path {
      fill: $cl-white;
    }
  }

  svg {
    width: 1em;
    height: auto;
    margin-left: auto;

    path {
      transition: fill 400ms;
    }
  }
}
