.navigation--primary {
  display: flex;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 1;
  max-width: 100%;
  padding: 2rem 0;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  margin-left: auto;

  @include media($screen-sm) {
    margin-left: auto;
    padding: 1rem 0;
    background: transparent;
  }

  @include media($screen-md) {
    margin-left: 0;
  }

  .navigation__item {
    animation: {
      name: fadeIn;
      duration: 800ms;
      fill-mode: both;
      timing-function: cubic-bezier(.215, .61, .355, 1);
    }

    @for $i from 1 through 4 {

      &:nth-child(#{$i}) {
        animation-delay: 150ms * $i + 200ms;
      }
    }
  }
}

.navigation--footer {

  @include media($screen-md) {
    margin: 0 2rem 0 auto;
  }

  .navigation__anchor {
    text-shadow: none;
  }
}

.navigation__list {
  display: flex;
  padding: 0 2rem;
  margin: 0;
  list-style: none;

  @include media($screen-sm) {
    padding: 0;
  }
}

.navigation__item {
  margin-right: 3rem;

  &:last-child {
    margin-right: 0;
  }
}

.navigation__anchor {
  position: relative;
  display: block;
  color: $cl-white;
  font-weight: 700;
  letter-spacing: .1rem;
  text-shadow: 0 .1rem .4rem darken($cl-primary, 10%);
  white-space: nowrap;
  outline: none;
  transition: color 200ms;

  &:hover,
  &:focus {
    color: rgba($cl-white, .6);
  }
}
