.navigation {
  display: flex;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  margin-left: auto;

  @include media($screen-sm) {
    margin-left: 0;
  }
}

.navigation__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation__item {
  margin-right: 3rem;
  animation: {
    name: fadeIn;
    duration: 800ms;
    fill-mode: both;
    timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  @for $i from 1 through 4 {

    &:nth-child(#{$i}) {
      animation-delay: 150ms * $i + 200ms;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.navigation__anchor {
  color: $cl-white;
  font-weight: 700;
  letter-spacing: .1rem;
  text-shadow: 0 .1rem .4rem darken($cl-primary, 10%);
  outline: none;
  transition: color 200ms;

  &:hover,
  &:focus {
    color: rgba($cl-white, .6);
    text-decoration: underline;
  }
}
