.section {
  margin: 20rem 0;

  .section__container > div {
    width: 50%;
  }
}

.section--intro {
  margin-top: 6rem;

  .section__text {
    margin-top: 8rem;
  }
}

.section--left {

}

.section--center {

  .section__container {
    align-items: center;
    flex-direction: column;
  }
}

.section--right {

}

.section__container {
  display: flex;
  width: 100%;
  max-width: $container-max-width;
  margin: 0 auto;
}

.section__container--wide {
  max-width: 135rem;
}

.section__text {

}

.section__media {

}

.section__description {
  margin: 0 0 6rem;
  font-size: 2rem;
}
