$cl-primary: #4735E2;
$cl-secondary: #F0834A;
$cl-tertiary: #0076FF;
$cl-quaternary: #EA4DB2;
$cl-quinary: #2D247F;

$cl-positive: #19ad5c;
$cl-negative: #c62d4f;

$cl-body: #444444;
$cl-warning: #FB7676;

$cl-black: #000000;
$cl-white: #ffffff;

$font-primary: house-script, sans-serif;
$font-body: museo-sans, sans-serif;

$container-max-width: 129rem;

$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1336px;
