$cl-primary: #4735E2;
$cl-secondary: #F0834A;
$cl-tertiary: #0076FF;
$cl-quaternary: #EA4DB2;
$cl-quinary: #2D247F;

$cl-body: #444444;
$cl-warning: #FB7676;

$cl-black: #000000;
$cl-white: #ffffff;

$font-primary: house-script, sans-serif;

$container-max-width: 129rem;

$screen-sm: 76.8rem;
$screen-md: 99.2rem;
$screen-lg: 133.6rem;
