$cl-primary: #4735E2;
$cl-secondary: #F0834A;
$cl-tertiary: #0076FF;
$cl-quaternary: #EA4DB2;

$cl-body: #444444;
$cl-warning: #FB7676;

$cl-black: #000000;
$cl-white: #ffffff;

$font-primary: house-script, sans-serif;
